/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Navbar Settings */
.navbar-collapse-container {
    margin-left: auto; 
}

/* Icon Button Settings */
.custom-icon {
    color: black; /* Mengubah warna ikon menjadi hitam */
    padding: 0.25rem;
    margin: -0.25rem;
    text-decoration: none;
}

.custom-icon i {
    margin-left: 0.5rem;
}

.custom-icon:hover {
    color: black; /* Memastikan warna tetap hitam saat dihover */
}

.custom-icon i {
    color: black; /* Mengubah warna ikon menjadi hitam */
}