/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Navbar Settings */
.navbar-collapse-container {
    margin-left: auto; 
}

/* Icon Button Settings */
.custom-icon {
    color: black; /* Mengubah warna ikon menjadi hitam */
    padding: 0.25rem;
    margin: -0.25rem;
    text-decoration: none;
}

.custom-icon i {
    margin-left: 0.5rem;
}

.custom-icon:hover {
    color: black; /* Memastikan warna tetap hitam saat dihover */
}

.custom-icon i {
    color: black; /* Mengubah warna ikon menjadi hitam */
}

.informasi-section{
    padding-top: 7em;
}

.data-section{
    padding-top: 7em;
}

.carousel-custom{
    height: 100vh;
}

/* Landing Page */

.carousel-item img {
    max-height: 90vh; 
    object-fit: cover;
}
.shadow-only {
    box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.2);
}
.border-bottom {
    border-bottom: 2px solid #000; 
}

/* Sidebar */
#sidebarMenu {
    background-color: #f8f9fa;
    transition: all 0.3s;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: #333;
    transition: all 0.2s;
}

.nav-link:hover {
    background-color: #e9ecef;
    color: yellow;
    text-decoration: none;
}

.nav-link .fa-lg {
    margin-right: 10px;
}

.nav-link .nav-text {
    display: inline-block;
    color: black;
}


.custom-icon .nav-link {
    display: flex;
    align-items: center;
}

.custom-icon .nav-link .fa-lg {
    margin-right: 10px;
}

.nav-item .nav-link {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
}

.nav-item .nav-link:hover {
    background-color: #f1f1f1;
}

.nav-item .nav-link .nav-text {
    margin-left: 10px;
}